.cta {
  margin: 5rem 0;
  padding: 10rem 0;
  content: "";
  background-image: url(/images/background.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;

  &__link {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  &__text {
    text-align: center;

    p {
      width: 60%;
      margin: 0 auto;
    }
  }
}
