@import "../custom";

.footer {
  background-color: $primary;
  color: $white;
  padding: 5rem 0 0;

  &__copyright {
    p {
      font-size: 1rem;
    }
  }

  &__icon > div {
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  &__icon > div:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}
